<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
<nav>
  <div class="nav-wrapper indigo">
    <a href="#" class="brand-logo">      
      <span style="margin: 10px;">        
        <img src="assets\images\logo.png" width="40vw">
        Library
      </span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Books</a></li>
      <li><a>Authors</a></li>
    </ul>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Library</h5>
        <blockquote class="grey-text text-lighten-4">
          "Unlocking Knowledge, Inspiring Minds"
        </blockquote>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Address: 123 Library Street, City, State, ZIP Code</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Phone: (123) 456-7890 | Email: info@yourlibraryname.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2023 Library. All rights reserved
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>