/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 auto;
}

.row{
    margin-bottom: 0px;
}
.col{
    padding: 0px !important;
}
footer{
    position: relative;
    bottom: 0;
}