<app-header></app-header>

<div class="row">
    <div class="col s12 offset s4 center">
        <h3>Hello {{ user }}!</h3>
    </div>
</div>

<div class="row" style="margin-bottom: 50px; margin-top: 50px;">
    <div class="col s4 center">
        <a class="waves-effect waves-teal btn green">
            <i class="material-icons left">book</i>
            Books
        </a>
    </div>
    <div class="col s4 center">
        <a class="waves-effect waves-teal btn blue">
            <i class="material-icons left">person</i>
            Authors
        </a>
    </div>
    <div class="col s4 center">
        <a class="waves-effect waves-teal btn purple">
            <i class="material-icons left">assignment_ind</i>
            Users
        </a>
    </div>
</div>